@media (max-width: 500px){

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;

    }
    #inputUser{
        width: 20rem;
        /* display: block; */
        /* margin: left;   */
    }

    .img-pencil {
        margin-top: 3rem;
        margin-left: .5rem;
    }
}