@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

header h1{
    color: #fff;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

header p{
    color: #fff;
    text-align: center;
    line-height: 1.5rem;
}

#inputUser{
    height: 2rem;
    width: 50rem;
    margin-top: 3rem;
    left: 5rem;
    padding: 5px;
    
}

li {
    margin: 0 auto;
    margin-top: 1rem;
    color: #fff;
    border: 2px solid #025f70;
    border-radius: 5px;
    background: #4EB9CD;
    width: 90%;
    list-style: none;
    height: 2rem;
    padding: 5px;
    transition: all 0.75s ease;
}

li button {
    border: none;
    background: none;
    font-size: 1em;
    cursor: pointer;
    display: inline-block;
    float: right;
    width: 1rem;
    color: #025f70;
    background-image: url("./images/trash.svg"); 
    background-repeat: no-repeat;


}

.img-pencil {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    cursor: pointer;
    border: none;
}

.content {
    margin: 0 auto;
    width: 70%;
}

.done {
    background: #51DF70;
    color: #00891E;
    text-decoration: line-through;
}

.delete {
    display: none;
}